/*Estilos moviles */
@media (max-width: 768px) {}
/*Estilos desktop */
@media (min-width: 768px)  {
    .fondo {
        background-color: #ebebeb;
    }
    .contenedor {
        width: 80%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cabecera {
        background-color: #3d74c6;
        width: 35%;
        height: 100px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .titulo1 {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 50px;
        text-align: center;
        color: white;

    }
    .esp1 {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 250px;
        background-color: white;
        padding: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .esp2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 10px;

    }
    .label1 {
        color: #3d74c6;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .input1 {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #3d74c6;
    }
    .btnLogin {
        width: 50%;
        padding: 10px;
        background-color: #3d74c6;
        color: white;
        border-radius: 10px;
        border: none;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }

    .btnLogin:hover {
        width: 50%;
        padding: 10px;
        background-color: white;
        color: #3d74c6;
        border-radius: 10px;
        border: 1px solid #3d74c6;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
    }

    .ds-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .ds-contenedor h1{
        font-size: 35px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;;
        text-align: center;
    }

    .ds-tabla p {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #3d74c6;
        font-weight: 700;
        text-align: center;
    }

    .ds-tabla table {
        width: 100%;
        border-collapse: collapse;
    }

    .ds-tabla th {
        background-color: #3d74c6;
        color: white;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        text-align: center;
    }

    .ds-tabla td {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    .ds-tabla tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .ds-tabla tr:hover {
        background-color: #3d74c62f;
    }

    .ds-divP {
        display: flex;
        width: 60%;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        margin: 10px;
        gap: 15px;
    }

    .ds-crear {
        background-color: #3d74c6;
        color: white;
        font-size: 16px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        border-radius: 12px;
        width: 30%;
        height: 50px;
        margin: 0 auto;
    }

    .ds-crear:hover {
        background-color: white;
        color: #3d74c6;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        border-radius: 12px;
        border: 2px solid #3d74c6;
    }

    .ds-inputB {
        padding: 10px;
        border: 1px solid #3d74c6;
        width: 100%;
        margin-left: 10px;
    }

    .cd-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .cd-contenedor h1 {
        font-size: 35px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        color: #3d74c6;
        text-align: center;
    }

    .cd-contenedor form {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .cd-divP {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10px;
        gap: 50px;
    }

    .cd-divP label {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: #3d74c6;
        font-weight: 700;
    }

    .cd-divP input {
        padding: 10px;
        border: 1px solid #3d74c6;
        border-radius: 10px;
        width: 40%;
    }

    .cd-divP textarea {
        padding: 10px;
        border: 1px solid #3d74c6;
        border-radius: 10px;
        height: 150px;
        width: 40%;
    }

    .cd-divP button {
        padding: 15px;
        background-color: #3d74c6;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        margin-top: 20px;
        
    }

    .cd-divP button:hover {
        padding: 15px;
        background-color: white;
        color: #3d74c6;
        border: 1px solid #3d74c6;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
    }

    .cd-divP select {
        padding: 10px;
        border: 1px solid #3d74c6;
        border-radius: 10px;
        background-color: white;
        width: 40%;

    }

    .btnLateral {
        padding: 10px;
        background-color: #3d74c6;
        font-size: 14px;
        color: white;
        border: none;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .btnLateral:hover {
        padding: 10px;
        background-color: white;
        font-size: 14px;
        color: #3d74c6;
        border: 1px solid #3d74c6;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .btnEliminar {
        padding: 10px;
        background-color: #ff0000;
        font-size: 14px;
        color: white;
        border: none;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-left: 10px;
    }

    .btnEliminar:hover {
        padding: 10px;
        background-color: white;
        font-size: 14px;
        color: #ff0000;
        border: 1px solid #ff0000;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .h-container {
        display: flex;
        justify-content: flex-end;
        margin: 20px 30px 0 0;
    }

    .h-container button {
        padding: 10px;
        background-color: #3d74c6;
        font-size: 14px;
        color: white;
        border: none;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    .h-container button:hover {
        padding: 10px;
        background-color: white;
        font-size: 14px;
        color: #3d74c6;
        border: 1px solid #3d74c6;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }


}